@use "../../foundation/mixin";
@use "../../foundation/color";
@use "../../foundation/variable";

/* サービスメニュー画像 */
/* テイクアウト */
.c-image-service-menu-bg_takeout {
    background-image: url(../images/servicemenu-takeout.png);  /* スマホ用は画素の多いものを使用*/
}

/* イートイン */
.c-image-service-menu-bg_eatint {
    background-image: url(../images/servicemenu-eatin.png);  /* スマホ用は画素の多いものを使用*/
}

/* footer の背景画像 */
.c-image-footer-bg {
    background-image: url(../images/footer_img.png);
    background-position: center center;  /* 中央の配置 */
    background-size: cover;              /* 画像の縦横比保持して全体に覆う*/
    background-repeat: no-repeat;        /* リピートしない */
}

/* archive search メインヴィジュアル画像 */
.c-image-as-main-visual-bg {
    background-image: url(../images/mainvisual-as-sp.png);  /* スマホ用*/

    @include mixin.mq(tablet) {
        background-image: url(../images/mainvisual-as-sp.png);  /* タブレット用*/
    }

    @include mixin.mq(pc) {
        background-image: url(../images/mainvisual-as-pc.png);  /* PC用*/
    }
}
