@use "../../foundation/mixin";
@use "../../foundation/color";
@use "../../foundation/variable";

/* contents エリア */
.p-content {
    display: block;
    padding: 2em;                /* 内余白の設定 */

    @include mixin.mq(tablet) {
        /*padding: 2em 4em;*/        /* 内余白の設定 */
        padding: 2em clamp(2em, 3.9vw, 4em);    /* 内余白-横余白伸縮の設定 */
    }

    @include mixin.mq(pc) {
        /*padding: 5em 8em;*/        /* 内余白の設定 */
        padding: 5em clamp(4em, 4.16vw, 8em);   /* 内余白-横余白伸縮の設定 */        
    }       
}

/* contents テキストエリア */
.p-content-text {
    padding: 1em 0 0 0;            /*内余白の設定*/

    @include mixin.mq(tablet) {
        padding: 1em 0;
    }

    @include mixin.mq(pc) {
        padding: 1em 0 2em 0;
    }  
}

/* single page ページ contents エリア */
.p-content-si {
    display: block;
    padding: 2em 1.3em;                 /*内余白の設定*/

    @include mixin.mq(tablet) {
        padding: 2em 4em;             /*内余白の設定*/      
    }

    @include mixin.mq(pc) {
        padding: 4em clamp(4em, 4.16vw, 8em);   /* 内余白-横余白伸縮の設定 */
    }
    
    & > ol {
        font-family: variable.$font-family--jp;
        margin-left: 3em;
        list-style-type: decimal;
        list-style-position: inside;    
    
        ol {
            margin-left: 1em;
            list-style-type: decimal;
            list-style-position: inside; 
        }
    }
    
    & > ul {
        margin-left: 3em;
        ul {
            margin-left: 1em;
        }
    }

    & > * {
        margin-bottom: 2rem;

        @include mixin.mq(tablet) {
            margin-bottom: 5rem;
        }
    
        @include mixin.mq(pc) {
            margin-bottom: 5rem;       
        } 
    }
}

/* single page ページ contentsエリア ブロックの設定 */
.p-content-si-block {
    display: block;
    margin: 2rem 0;     /* 外余白の設定 */

    @include mixin.mq(tablet) {
        margin: 5rem 0;
    }

    @include mixin.mq(pc) {
        margin: 5rem 0;        
    } 

    & p {
        margin: 2rem 0;

        @include mixin.mq(tablet) {
            margin: 5rem 0;
        }
    
        @include mixin.mq(pc) {
            margin: 5rem 0;        
        } 
    }
}

