@use "../../foundation/mixin";
@use "../../foundation/color";
@use "../../foundation/variable";

/* メイン 画像 エリア */
.p-mainvisual-body {
    display: block;                      /* ブロック要素にする */
    position: relative;                  /* 表示位置の基準値を設定する */
    background-size: cover;              /* 画像の縦横比保持して全体に覆う*/
    background-position: center center;  /* 画像は中央に設定*/
    width: 100%;                         /* 横幅一杯に*/
    padding-top: 75%;                    /* 縦横比 75%にして、画像の縦横比を保持したまま伸縮させる  アスペクト比：4:3 */
    max-height: 28em;                    /* 高さ限度280pxに設定 --- 効いていない模様*/

    @include mixin.mq(tablet) {
        padding-top: 35%;                  /* 縦横比 35%にして、画像の縦横比を保持したまま伸縮させる*/
        max-height: 28em;                  /* 高さ限度280pxに設定 --- 効いていない模様*/
    }

    @include mixin.mq(pc) {
        padding-top: 35%;                   /* 縦横比 35%にして、画像の縦横比を保持したまま伸縮させる PCとタブレットは同じような画像表示のため*/
        max-height: 38em;                   /* 高さ限度380pxに設定 --- 効いていない模様*/
    }
}

/* メイン 画像 エリア のタイトル文字の設定 */
.p-mainvisual_title {
    display: block;               /* 上下中央位置に表示させるため、ブロック要素にする */
    position: absolute;           /* 表示位置を設定 */
    top: 50%;                     /* 上から50%の位置に配置する */
    transform: translateY(-50%);  /* Y方向（縦方向）に -50％（上方向）の位置に配置する topとtransformで上下中央位置に設定*/
    left: 0.5em;                  /* スマホは、左から0.5emの位置に配置 */

    @include mixin.mq(tablet) {
        left: 2em;                  /* タブレットは、左から2emの位置に配置 */
    }

    @include mixin.mq(pc) {
        left: 2em;                  /* PCは、左から2emの位置に配置 -- タブレットと同じ位置 */
    }    
}

/* archive search メイン 画像 エリア */
.p-mainvisual-as-body {
    display: block;                      /* ブロック要素にする */
    position: relative;                  /* 表示位置の基準値を設定する */
    background-size: auto;              /* 画像の縦横比保持して全体に覆う*/
    background-position: 0 center;  /* 画像は中央に設定*/
    background-repeat: no-repeat;
    object-fit: cover;
    height: 28em;                    /* 高さ限度280pxに設定 */
    
    @include mixin.mq(tablet) {
        background-size: cover; 
        background-position: 0 46.5%;  /* 画像は中央に設定*/
        height: 28em;                  /* 高さ限度280pxに設定 */
    }

    @include mixin.mq(pc) {
        background-size: cover; 
        background-position: 0 46.5%;  /* 画像は中央に設定*/
        height: 24em;                   /* 高さ限度240pxに設定 */
    }

    /* メイン画像の上にある濃いスモークの設定 */
    &::after {
        content: "";
        width: 100%;            /* 濃いスモークの横幅 */
        height: 100%;           /* 濃いスモークの高さ */
        background-color: color.$color-bg--map--cover--dark;  /* 透過度40% */
        position: absolute;     /* 表示位置を設定 */
        top: 0;                 /* 上からの位置設定 */
        left: 0;                /* 左からの位置設定 */
        z-index: 100;           /* マップの上に表示 */
    }
}

/* archive search メイン 画像 エリア のタイトル文字の設定 */
.p-mainvisual-as-title {
    display: block;               /* 上下中央位置に表示させるため、ブロック要素にする */
    position: absolute;           /* 表示位置を設定 */
    top: 50%;                     /* 上から50%の位置に配置する */
    transform: translateY(-50%);  /* Y方向（縦方向）に -50％（上方向）の位置に配置する topとtransformで上下中央位置に設定*/
    left: 4em;                  /* スマホは、左から0.5emの位置に配置 */
    z-index: 200;

    @include mixin.mq(tablet) {
        display: flex;
        align-items: center;
        left: 8.5em;                  /* タブレットは、左から2emの位置に配置 */
    }

    @include mixin.mq(pc) {
        display: flex;
        align-items: center;       
        left: 6.5em;                  /* PCは、左から2emの位置に配置 -- タブレットと同じ位置 */
    } 
        
    &_item {
        margin: 0;

        @include mixin.mq(tablet) {
            margin-top: 0.5em;
            margin-left: 1em;
        }
    }
}

/* single メイン 画像 エリア */
.p-mainvisual-single-body {
    display: block;                      /* ブロック要素にする */
    position: relative;                  /* 表示位置の基準値を設定する */
    background-position: center center; /* 画像は中央、下を基準に設定*/
    background-repeat: no-repeat;
    background-size: cover;              /* 画像の縦横比保持して全体に覆う*/
    height: 22em;                        /* 高さ限度220pxに設定 */
    
    @include mixin.mq(tablet) {
        background-size: cover; 
        height: 50em;                  /* 高さ限度500pxに設定 */
    }

    @include mixin.mq(pc) {
        background-size: cover; 
        height: 50em;                   /* 高さ限度500pxに設定 */
    }

    /* メイン画像の縦横比の設定 -- あまり意味ないかも*/
    &::before {
        content: "";
        display: block;
        padding-top: 60%;

        @include mixin.mq(tablet) {
            padding-top: 60%;
        }
    
        @include mixin.mq(pc) {
            padding-top: 32.2%;
        }
    }
}

/* single メイン 画像 エリア のタイトル文字の設定 */
.p-mainvisual-single-title {
    display: flex;               /* 上下中央位置に表示させるため、ブロック要素にする */
    position: absolute;           /* 表示位置を設定 */
    top: 50%;                     /* 上から50%の位置に配置する */
    transform: translateY(-50%);  /* Y方向（縦方向）に -50％（上方向）の位置に配置する topとtransformで上下中央位置に設定*/
    left: 2.5em;                  /* スマホは、左から0.5emの位置に配置 */
    z-index: 200;

    @include mixin.mq(tablet) {
        display: flex;
        align-items: center;
        left: clamp(2em, 8vw, 8.5em);     /* タブレットは、左から8.5emの位置に配置 横幅狭くなると左余白を狭くする*/
    }

    @include mixin.mq(pc) {
        display: flex;
        align-items: center;       
        left: 8.5em;                  /* PCは、左から8.5emの位置に配置 -- タブレットと同じ位置 */
    } 
}
