@use "../../foundation/mixin";
@use "../../foundation/color";
@use "../../foundation/variable";

/* ページネーション部の設定*/
.p-pagination {
    display: block;
    width: 100%;
    margin: 5.5em 0 1em 0;

    @include mixin.mq(tablet) {
        margin: 5em 0 5em 0;
    }

    @include mixin.mq(pc) {
        margin: 8em 0 8em 0;
    }
}

.p-pagination_sp {
    padding: 0;
    width: 100%;

    @include mixin.mq(tablet) {
        display: none;
    }

    @include mixin.mq(pc) {
        display: none;
    }
}

.p-pagination-float-right {
    float: right;
    margin: 0;
}

.p-pagination-float-left {
    float: left;
    margin: 0;
}

.p-pagination-float-clear {
    clear: both;
}
