@use "../../foundation/mixin";
@use "../../foundation/color";
@use "../../foundation/variable";


/* サービスメニュー Take Out  Eat In */
.p-service-menu {
    display: block;     /* サービスメニュー全体をブロックに設定 */
    padding: 2em;       /* 上下左右に余白を */
    min-height: 64em;   /* 最小高さの設定 */

    @include mixin.mq(tablet) {
        padding: 4em;            /* 上下左右に余白を */
        min-height: 68em;        /* 最小高さの設定 */
    }

    @include mixin.mq(pc) {
        padding: 9em 8em;       /* 上下左右に余白を */
        min-height: 68em;       /* 最小高さの設定 */
    }  
}

/* サービスメニュー Take Out  Eat In エリアの設定 */
.p-service-menu_body {
    display: block;              /* ブロックに設定 */
    width: 100%;                 /* 横幅 100％に設定 */
    height: 100%;                /* 高さ 100％に設定 */
    box-sizing: border-box;

    @include mixin.mq(tablet) {
        display: grid;                   /* グリッドの設定 */
        grid-template-rows: 1fr;         /* 縦 1行 */
        grid-template-columns: 1fr 1fr;  /* 横 2列*/
        grid-column-gap: 4em;            /* グリッド間の横余白 */
        justify-content: space-around;   /* 横 に 両端揃え 左右に余白アリ */
        justify-items: center;           /* 横位置 中央揃え */
        box-sizing: border-box;
    }

    @include mixin.mq(pc) {
        display: grid;                   /* グリッドの設定 --- tabletで設定しているものと同じであれば、引継げるがとりあえず設定しておく*/
        grid-template-rows: 1fr;         /* 縦 1行 */
        grid-template-columns: 1fr 1fr;  /* 横 2列*/
        grid-column-gap: 6em;            /* グリッド間の横余白 */
        justify-content: space-around;   /* 横 に 両端揃え 左右に余白アリ */
        justify-items: center;           /* 横位置 中央揃え */
        box-sizing: border-box;
    }  
}

/* サービスメニュー Take Out / Eat In それぞれのエリアの設定 */
.p-service-menu_inner {
    display: block;                      /* ブロック要素にする */
    background-size: cover;              /* 画像の縦横比保持して全体に覆う*/
    background-position: center center;  /* 画像は中央に設定*/
    width: 100%;                         /* 横幅一杯に*/
    min-height: 64em;                    /* 高さの最小値を設定しておく */
    padding: 0 1.5em 1.5em 1.5em;        /* 内側余白*/
    margin-bottom: 2em;                  /* Take OutとEat Inの間の余白の設定 と Eat In の下余白--上余白より少し広くなっている設定 スマホのみ*/

    @include mixin.mq(tablet) {
        min-height: 68em;               /* 高さの最小値を設定しておく */
        margin-bottom: 0;               /* スマホサイズで設定した下余白をzeroに設定 */
    }

    @include mixin.mq(pc) {
        min-height: 68em;               /* 高さの最小値を設定しておく */
        margin-bottom: 0;               /* スマホサイズで設定した下余白をzeroに設定 */
    }  
}

/* サービスメニュー Take Out / Eat In タイトルの設定 */
.p-service-menu_title {
    display: block;
    position: relative;             /* 表示位置の基準値を設定する */

    /* Take Out / Eat In の下線の設定 */
    &::after {
        content: '';
        position: absolute;        /* 表示位置を設定 */
        left: 0;                   /* 左からの位置*/
        bottom: -0.1em;            /* 線の上下位置*/
        display: block;            /* blockで設定*/
        width: 1em;                /* 線の長さ*/
        height: 3px;               /* 線の太さ*/
        transform: translateX(0);  /* 位置調整*/
        background-color: color.$color-font--service-menu--title; /* 線の色*/
    }
}

/* サービスメニュー Take Out / Eat In の記事エリアの枠設定 */
.p-service-menu_content {
    display: flex;              /* flex設定 */
    flex-direction: column;     /* 縦並び */
    justify-content: flex-end;  /* 縦並びだと 水平方向のflex-endを使うと下揃えできる */
    width: 100%;                /* 横幅*/
    min-height: 64em;           /* 高さの最小値を設定しておく 上で設定したものと同じ値にしてみる */

    @include mixin.mq(tablet) {
        min-height: 68em;
    }

    @include mixin.mq(pc) {
        min-height: 68em;
    } 
}

/* サービスメニュー Take Out / Eat In の記事の枠（白背景部）の設定 */
.p-service-menu_content_item {
    display: block;
    align-self: flex-end;               /* 下揃え --- 多分効いていない */
    width: 100%;
    margin-top: 1em;
    /*padding: 2em 1em;*/               /*内余白の設定*/
    padding: 1em 1em 1.5em 1em;         /*内余白の設定* --- XD仕様変更対応*/

    @include mixin.mq(tablet) {
        
        /*padding: 2em 1em;*/           /*内余白の設定*/
        padding: 1em 1em 1.5em 1em;     /*内余白の設定* --- XD仕様変更対応*/
    }
    
    @include mixin.mq(pc) {
        margin-top: 2em;
        /*padding: 2em 2em; */          /*内余白の設定*/
        padding: 1em 2em 1.5em 2em;     /*内余白の設定* --- XD仕様変更対応*/
    }  

    /* サービスメニュー Take Out / Eat In の記事本文部の設定 --- XD仕様変更により削除 */
    &_dd {
        padding-top: 0.3em;             /*内余白の設定* --- XD仕様変更対応*/
        /*padding: 1em 0 1.5em 0;*/     /*内余白の設定*/
        /*padding: 1em 0 0.5em 0;*/     /*内余白の設定 -- 課題修正指摘あり → 下余白を小さくして、上の余白と同じ大きさにする*/
        /*padding: 1em 0 0 0;*/         /*内余白の設定 -- 課題修正指摘あり → 下余白0の指示あり*/

        @include mixin.mq(tablet) {
            padding-top: 0.3em;         /*内余白の設定* --- XD仕様変更対応*/
            /*padding: 1em 0 2em 0;*/   /*内余白の設定*/
            /*padding: 1em 0 0.5em 0;*/ /*内余白の設定 -- 課題修正指摘あり → 下余白を小さくして、上の余白と同じ大きさにする*/
            /*padding: 1em 0 0 0;*/     /*内余白の設定 -- 課題修正指摘あり → 下余白0の指示あり*/
        }
        
        @include mixin.mq(pc) {
            padding-top: 0.5em;         /*内余白の設定* --- XD仕様変更対応*/
            /*padding: 1em 0 3.5em 0;*/ /*内余白の設定*/
            /*padding: 1em 0 0.5em 0;*/ /*内余白の設定 -- 課題修正指摘あり → 下余白を小さくして、上の余白と同じ大きさにする*/
            /*padding: 1em 0 0 0;*/     /*内余白の設定 -- 課題修正指摘あり → 下余白0の指示あり*/
        }  
    }
}


