@use "../../foundation/mixin";
@use "../../foundation/color";
@use "../../foundation/variable";

/* サイドバー部の設定 */
.p-sidebar {
	width: 85%;         /* 横幅 スマホは右から85％幅 */
	height: 100vh;      /* 高さ */
	position: fixed;    /* 表示位置 固定*/
	top: 0;             /* 上からの位置 */
    left: 100%;         /* 左からの位置 右横外側 15％ */
    overflow-y: auto;   /* 縦 スクロール */
    transition: .4s;    /* 表示時間 0.4秒 */
    z-index: 2000;

    @include mixin.mq(tablet) {
        width: 45%;     /* 横幅 タブレットは右から45％幅 */
        height: 100vh;  /* 高さ */
        left: 155%;     /* 左からの位置 右横外側 55％ */
    }

    @include mixin.mq(pc) {
        width: 100%;        /* 横幅 PCは100％幅 */
        height: 100%;       /* 高さ PCは100％高さ */
 		position: static;   /* 表示位置 staticに*/
		overflow: hidden;   /* スクロール 非表示*/
		z-index: auto;      /* 表示優先順位 autoに設定*/		
	}
    
    /* サイドバーを表示 */
    &.is-open {
		top: 0;             /* 上からの位置設定 */
		left: 15%;          /* 左からの位置設定 スマホは15%*/
       
        @include mixin.mq(tablet) {
            left: 55%;       /* 左からの位置設定 タブレットは55%*/
        }
	}
}

/* サイドバー部 PC画面の時に「MENU」の表示設定 */
.p-sidebar-menu {
    display: none;  /* スマホ・タブレットは非表示 */

    @include mixin.mq(pc) {
        display: inline-block;  /* inline-blockにする */
        margin-top: 2.5em;      /* 上余白設定 */
        margin-left: 1.5em;     /* 左余白設定 */
    }    
}

/* サイドバー部の カテゴリーエリア全体枠の設定 */
.p-sidebar-category_body {
    display: block;
    position: relative;     /* 表示位置の基準値を設定する */
    padding-top: 6em;      /* 上余白設定  */

    @include mixin.mq(pc) {
        margin-top: 0;      /* 上余白設定 */ 
        padding-top: 0;     /* 上余白設定 */
    }     

}

/* サイドバー部の カテゴリーエリア内側の設定 */
.p-sidebar-category_inner {
    display: flex;
    flex-direction: column;       /* 縦並び */
    padding: 0 2em 2em 2em;                 /* 上下左右余白 */

    @include mixin.mq(pc) {
        margin-top: 0;      /* 上余白設定 */    
    }

    & > li {
        padding-top: 2.5em;
    }
}

/* サイドバー部の カテゴリーアイテムエリアの設定 */
.p-sidebar-category-item_body {
    display: flex;
    flex-direction: column;
    /*margin-top: 1em;*/
    padding-top: 1em;

    & > li {
        display: inline-block;
        padding: 0.5em 1em;
        white-space: nowrap;  
    }
}







