@use "../foundation/mixin";
@use "../foundation/variable";

.l-container {

    @include mixin.mq(pc) {
        //height: 100vh;
        height: 100%;
        display: grid;                        /* grid設定 */
        grid-template-rows: 217px 1fr 150px;  /* 縦（行）の設定 */
        grid-template-columns: 1fr 20%;       /* 横（列）の設定 */
        box-sizing: border-box;
    }
}